body {
  height: 100vh;
  background: #ffdba4;
}

@font-face {
  font-family: 'Discet';
  src: local('Discet'),
  url('./source/Disket-Mono-Bold.ttf');
  font-style: normal;
  font-weight: normal;
}
.main-container {
  width: 1660px;
  margin: 0 auto;
  padding: 0px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main_page {
  flex: 1 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
  justify-content: space-around;
}

.rigth_frame{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 50%;
}

.left_frame{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 50%;
}

.footer {
flex-shrink: 0;
}
.img-man {
  width: 700px;
  min-width: 300px;
 
}

.img-woman {
  width: 700px;
  min-width: 300px;
  
}
.header {
height: 70px;

}
.header_list {
display: flex;
flex-wrap: wrap;
justify-content: end;



}
.header_item {
  border: 2px solid #B474AA;
  border-radius: 10%;
  width: 100px;
  margin-right: 20px;
  margin-top: 10px;
  font-size: large;
  color: #B474AA;
  padding: 10px;
  text-align: center;
}


.button {
  width: 300px;
  height: 100px;
  font: 800 1.2em sans-serif;
  background: linear-gradient(100deg, red, yellow, red);
  background-clip: text;
  color: transparent;
  margin-top: 30px;
}
.title_head {
  width: 500px;
  text-align: center;
  padding-bottom: 50px;
  font-size: 6em;
  font-family: 'Discet';
  line-height: 1;
  background: radial-gradient(30% 48%, #752668, #f00505, #B474AA);
  background-clip: text;
  color: transparent;
  


}
.block_buttons {
  max-width: 50%;
}